.login__section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F8F9FF;
}
.auth-container {
    width: 600px;
    position: relative;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
        
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
        
.logo img {
    width: 70px;
    text-align: center;
}
        
.auth-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}
        
.auth-subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 35px;
}
        
.form-group {
    margin-bottom: 20px;
}
        
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
        
.form-control {
    width: 100%;
    padding: 16px;
    border: 1px solid #cdd8cd;
    border-radius: 12px;
    font-size: 18px;
}
        
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
        
.forgot {
    text-decoration: none;
    color: #006b38;
    font-weight: 600;
}
        
.btn {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
        
.btn-green {
    background: #0b8b44;
    color: white;
}
        
.divider {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
        
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
}
        
.divider span {
    margin: 0 15px;
    color: #666;
}
        
.social {
    display: flex;
    gap: 15px;
}
        
.social button {
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}

        
.bottom-text {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}
        
.bottom-text a {
    color: #0b8b44;
    text-decoration: none;
    font-weight: 700;
}